.full{
    padding: 20px;
}
#logo img{
    width: 100px;
}
#searchbar{
    height: 50px;
}
#searchButton{
    height: 50px;
    width: 100px;
}
#searchResult{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4em;
    grid-row-gap: 5em;
    align-items: center;
    justify-items: center;
}
#mealInfo{
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#mealInfo{
    margin-bottom: 20px;
}